@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/* =========== BASE =========== */
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Karla";
}
.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: white;
  background: #4d5b9e;
  border-radius: 10px;
  border: none;
  padding: 14px 24px;
  justify-self: center;
}

/* =========== MAIN CONTAINER =========== */
.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  animation: move1 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(-60px, -50px);
  }
  38% {
    transform: scale(0.8) translate(30vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8) translate(30vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(-60px, -50px);
  }
}
.content-container {
  z-index: 10;
  max-width: 950px;
}

/* =========== MENU =========== */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.page-title {
  color: #293264;
  font-size: 2.5rem;
}
.page-description {
  color: rgba(41, 50, 100, 1);
}
.start-button {
  color: white;
  border: none;
  padding: 16px 32px;
  background-color: #4d5b9e;
  border-radius: 0.5rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.check {
  color: white;
  background: #4d5b9e;
  border-radius: 10px;
  border: none;
  padding: 14px 24px;
  justify-self: center;
  cursor: pointer;
}
.start-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.end-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.2rem;
}
.score {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1rem;
}

/* =========== QUESTION =========== */

.content-container {
  padding: 0 16px;
}

.question-container {
  margin-bottom: 0.65rem;
  width: 100%;
  text-align: left;
}

.question-title {
  font-size: 0.8rem;
  color: rgba(41, 50, 100, 1);
  margin-bottom: 0.5rem;
}
.answer {
  color: rgba(41, 50, 100, 1);
  background-color: transparent;
  border: 1px solid #4d5b9e;
  font-size: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
  margin-bottom: 0.2rem;
  padding: 2px 8px;
}
.line {
  margin-top: 0.5rem;
  width: 100%;
  border-top: 0.794239px solid #c4c8e0;
}
.selected {
  background-color: #d6dbf5;
}

#correct.answer {
  background-color: #94d7a2;
  border: 1px solid #94d7a2;
}
#incorrect.answer.selected {
  background-color: #f8bcbc;
  border: 1px solid #f8bcbc;
}
#not-selected.answer {
  color: rgba(41, 50, 100, 0.4);
  border: 1px solid rgba(41, 50, 100, 0.4);
}

/* =========== BREAKPOINT =========== */

@media only screen and (min-width: 350px) {
  .question-title {
    font-size: 0.85rem;
  }
  .answer {
    font-size: 0.65rem;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (min-width: 400px) {
  .question-title {
    font-size: 1.1rem;
  }
  .answer {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
  .check {
    font-size: 1rem;
  }
  @keyframes move1 {
    0% {
      transform: scale(1) translate(-50px, -50px);
    }
    38% {
      transform: scale(0.7) translate(70vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.7) translate(70vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(-10vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(-10vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(-50px, -50px);
    }
  }
}
@media only screen and (min-width: 630px) {
  .content-container {
    padding: 0 32px;
  }
  .question-container {
    margin-bottom: 0.85rem;
  }
  .question-title {
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
  }
  .answer {
    font-size: 0.9rem;
    margin-bottom: 0.45rem;
  }
  .check {
    font-size: 1.2rem;
  }
  @keyframes move1 {
    0% {
      transform: scale(1) translate(100px, -100px);
    }
    38% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(100px, -100px);
    }
  }
}
@media only screen and (min-width: 630px) {
  .question-container {
    margin-bottom: 1.2rem;
  }
  .question-title {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .answer {
    font-size: 0.9rem;
    margin-bottom: 0.45rem;
  }
  .check {
    font-size: 1.2rem;
  }
  @keyframes move1 {
    0% {
      transform: scale(1) translate(100px, -100px);
    }
    38% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(100px, -100px);
    }
  }
}
